.content-sobre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.content-sobre p {
  padding-top: 20px;
  max-width: 60ch;
}

.content-sobre::after {
  content: "";
  top: -100px;
  width: 100%;
  height: 2px;
  background: var(--color-6);
  opacity: 0.15;
  position: absolute;
}

@media (max-width: 700px) {
  .content-sobre {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .content-sobre::after {
    display: none;
  }
  .content-sobre img {
    justify-items: center;
  }
}
