.contact h1 {
  margin-top: 60px;
  margin-bottom: 15px;
}

.contact-links {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 60px;
}

.contact-links-2 {
  display: grid;
  gap: 20px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.contact-links-2 li a {
  display: flex;
  gap: 15px;
  align-items: center;
}
