.curses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  overflow: hidden;
  text-align: center;
}

.course a {
  display: block;
  height: 100%;
  background-color: transparent;
}

.course {
  margin-top: 60px;
  padding: 0 16px 16px 16px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background: var(--color-10);
  width: 100%;
  max-width: 100%;
  margin-inline: auto;
}

.course:hover {
  background: var(--color-12);
  transition: 0.3s ease;
}

.react:hover {
  background: var(--color-10);
}

.curse-title {
  position: relative;
  top: -30px;
  left: 50%;
  width: 35%;
  transform: translateX(-50%);
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--color-12);
}

.curse-guide {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin: 10px 0;
  background: transparent;
}

.curse-guide span {
  background: transparent;
}

.center {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 90px;
}

.dec-code {
  margin-top: 90px;
}

.complentar {
  grid-column: 1 / -1;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}

.complentar .course:hover {
  background: var(--color-10);
}

/* decorations */

.dec-l::before {
  content: "";
  width: 20px;
  margin: 0 10px;
  height: 3px;
  border-radius: 50px;
  background: var(--color-lgl);
}

.dec-l {
  display: flex;
  align-items: center;
}

.dec-y::before {
  content: "";
  width: 20px;
  margin: 0 10px;
  height: 4px;
  border-radius: 50px;
  background: var(--color-lgy);
}

.dec-y {
  display: flex;
  align-items: center;
}

.dec-a::before {
  content: "";
  width: 20px;
  margin: 0 10px;
  height: 3px;
  border-radius: 50px;
  background: var(--color-lga);
}

.dec-a {
  display: flex;
  align-items: center;
}

.dec-a::before {
  content: "";
  width: 20px;
  margin: 0 10px;
  height: 3px;
  border-radius: 50px;
  background: var(--color-lga);
}

.dec-a {
  display: flex;
  align-items: center;
}

.dec-r::before {
  content: "";
  width: 20px;
  margin: 0 10px;
  height: 3px;
  border-radius: 50px;
  background: var(--color-lgrd);
}

.dec-r {
  display: flex;
  align-items: center;
}

.react h2 {
  position: relative;
}

.react h2::after {
  content: "Cursando";
  font:
    600 1.1rem/1.5 "Roboto Condensed",
    sans-serif;
  pointer-events: none;
  position: absolute;
  top: 5px;
  right: -50%;
  transform: translateX(100%);
  padding: 1px 10px;
  border-radius: 5px;
  background: var(--color-lga);
  color: var(--color-0);
}

@media (max-width: 700px) {
  .curses {
    grid-template-columns: 1fr;
  }
  .dec-code {
    display: none;
  }
  .react h2::after {
    top: 6px;
    font-size: 0.9rem;
  }
}
