.habilidades {
  grid-column: 2;
}

.habilidades h1 {
  padding-top: 50px;
}

.aplicativos {
  padding-top: 75px;
  padding-left: 10px;
  display: flex;
  gap: 60px;
  text-align: center;
  padding-bottom: 60px;
}

.figma div,
.html div,
.css div,
.js div{
  display: grid;
  gap: 10px;
  border: 2px solid var(--cor-9);
  padding: 30px;
  border-radius: 60px;
}

.figma div:hover,
.html div:hover,
.css div:hover,
.js div:hover {
  border-color: var(--cor-p2);
}

@media (max-width: 800px) {
  .habilidades h1,
  .habilidades h1 samp {
    font-size: 2.9rem;
  }
  .aplicativos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    justify-items: center;
    padding-bottom: 20px;
  }
  .figma {
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  
}