.habilidades {
  grid-column: 2;
}

.habilidades ul {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 20px;
}

.habilidades p {
  padding-top: 10px;
}

.habilidades li div {
  display: grid;
  border: 2px solid var(--cor-8);
  border-radius: 50px;
  padding: 20px;
}

.habilidades li:hover {
  animation: aumentar 0.3s ease forwards;
}

.habilidades li div:hover {
  border-color: var(--cor-p3);
}