.header-bg {
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-bottom: 90px;
}

.header {
  top: 0;
  z-index: 1000;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header li {
  position: relative;
}

.header li a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: var(--color-1);
  transition: 0.3s;
  position: absolute;
}

.header li a:hover::after {
  width: 100%;
}

.header ul {
  display: flex;
  gap: 40px;
}

@media (max-width: 800px) {
  .header-bg {
    margin-bottom: 60px;
  }
  .header ul {
    gap: 20px;
  }
  .header a {
    padding: 16px;
  }
}
