.header-bg {
  position: sticky;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-bottom: 90px;
}

.header {
  top: 0;
  z-index: 1000;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  display: flex;
  gap: 40px;
}

.header a {
  padding: 16px;
}

@media (max-width: 800px) {
  .header-bg {
    margin-bottom: 60px;
  }
  .header ul {
    gap: 20px;
  }
}
