.projects h1 {
  margin-top: 90px;
  margin-bottom: 15px;
}

.slide {
  display: flex;
}

.slide li {
  width: 80vw;
  flex-shrink: 0;
  max-width: 800px;
  margin: 0 20px;
  justify-items: center;
  text-align: center;
}

.wrapper-slide {
  overflow: hidden;
  margin-top: 60px;
  margin-bottom: 120px;
}

.slide img {
  border-radius: 5px;
  box-shadow: -2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
