.sobre{
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  
}

.sobre-titulo{
  font-size: 4rem;
  font-family: 'Playfair Display';
  font-weight: bold;
  position: relative;
}

.sobre-texto{
  font-size: 1.25rem;
  line-height: 1.5;
  max-width: 50ch;
  margin-bottom: 60px;
  color: #b8b8b8;
  padding: 25px 0px;
}

.sobre-conteudo {
  grid-column: 2;
}

.sobre-titulo::before {
  content: "";
  display: block;
  width: 600px;
  height: 5px;
  background-color: #8000ff;
  position: absolute;
  top: 75px;
}

@media (max-width: 1200px) {
  .sobre-titulo::before {
    content: "";
    display: block;
    width: 500px;
    height: 5px;
    background-color: #8000ff;
    position: absolute;
    top: 75px;
  }
}

@media (max-width: 900px) {
  .sobre-titulo::before {
    content: "";
    display: block;
    width: 400px;
    height: 5px;
    background-color: #8000ff;
    position: absolute;
    top: 75px;
  }
 
}

@media (max-width: 800px){
  .sobre{
    grid-template-columns: 1fr  ;
  }

  .sobre-conteudo {
    grid-column: 1;
  }

  .sobre-titulo{
    font-size: 3rem;
    font-family: 'Playfair Display';
  }
  
  .sobre-texto{
    font-size: 1.3rem;
  }

  .sobre-titulo::before {
    content: "";
    display: block;
    width: 460px;
    height: 5px;
    background-color: #8000ff;
    position: absolute;
    top: 65px;
}
}

@media (max-width: 600px){
  .sobre-conteudo {
    grid-column: 1;
  }

  .sobre-titulo{
    font-size: 2rem;
    font-family: 'Playfair Display';
  }
  
  .sobre-texto{
    font-size: 1.1rem;
    line-height: 1.1;
  }

  .sobre-titulo::before {
    content: "";
    display: block;
    width: 350px;
    height: 5px;
    background-color: #8000ff;
    position: absolute;
    top: 45px;
}
}
