.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  padding: 12px 32px;
  display: flex;
  background: linear-gradient(#9232f1, #5a0fa5);
  border-radius: 15px;
  text-transform: uppercase;
  max-width: max-content;
  cursor: pointer;
  font: 600 1.1rem/1.44 "Poppins", sans-serif;
  color: var(--cor-1);
  border: none;
  transition: box-shadow 0.3s ease;
}

.botao img {
  padding-right: 10px;
}

.botao:hover {
  animation: resize 0.6s ease forwards;
}

@keyframes resize {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1); 
  }
}

@keyframes aumentar {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2); 
  }
}

.guia {
  display: flex;
  gap: 10px;
  padding: 5px 15px;
  border: solid 1px var(--cor-8);
  border-radius: 50px;
  max-width: max-content;
  font: 600 1.23rem/1.5 "Poppins", sans-serif;
  color: var(--cor-2);
  margin: 20px 0 30px 0;
}