body {
  background-color: #292929;
  margin: 0px;
}

h1,
h2,
h3,
p,
ul {
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: grid;
  grid-template-columns: 450px 1fr auto;
}

@media (max-width: 800px) {
  body {
    grid-template-columns: 400px 1fr;
  }
}

@media (max-width: 600px) {
  body {
    display: block;
  }
}