* {
  background-color: #1b1d20;
  margin: 0;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: initial;
}
