.font-1-t {
  font:
    600 4rem/1.5 "Alegrey",
    serif;
}

.font-1-ts {
  font:
    600 2rem/1.5 "Alegrey",
    serif;
}

.font-1-p {
  font:
    400 1.125rem/1.5 "Alegrey",
    serif;
}

.font-2-h {
  font:
    600 1.3rem/1.5 "Roboto Condensed",
    sans-serif;
}

.font-2-t {
  font:
    400 1.5rem/1.5 "Roboto Condensed",
    sans-serif;
}

.font-2-p {
  font:
    600 1.125rem/1.5 "Roboto Condensed",
    sans-serif;
}

@media (max-width: 800px) {
  .font-1-t {
    font-size: 2.4rem;
    line-height: 1.3;
  }

  .font-1-ts {
    font-size: 1.5rem;
  }

  .font-1-p {
    font-size: 1rem;
  }

  .font-2-h {
    font-size: 1.1rem;
  }

  .font-2-t {
    font-size: 1.25rem;
  }

  .font-2-p {
    font-size: 1rem;
  }
}
